<div class="auth-wrapper">
  <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h3 class="h3 mb-3 font-weight-normal text-center">Register User</h3>

    <!-- Errors -->
    <div *ngIf="errors?.first_name" class="alert alert-danger mt-3">
      {{ errors?.first_name }}
    </div>
    <div *ngIf="errors?.last_name" class="alert alert-danger mt-3">
      {{ errors?.last_name }}
    </div>
    <div *ngIf="errors?.middle_name" class="alert alert-danger mt-3">
      {{ errors?.middle_name }}
    </div>
    <div *ngIf="errors?.birthdate" class="alert alert-danger mt-3">
      {{ errors?.birthdate }}
    </div>
    <div *ngIf="errors?.age" class="alert alert-danger mt-3">
      {{ errors?.age }}
    </div>
    <div *ngIf="errors?.postal_code" class="alert alert-danger mt-3">
      {{ errors?.postal_code }}
    </div>
    <div *ngIf="errors?.marital_status" class="alert alert-danger mt-3">
      {{ errors?.marital_status }}
    </div>

    <div *ngIf="errors?.email" class="alert alert-danger mt-3">
      {{ errors?.email }}
    </div>
    <div *ngIf="errors?.password" class="alert alert-danger mt-3">
      {{ errors?.password }}
    </div>
    <div *ngIf="errors?.password_confirmation" class="alert alert-danger mt-3">
      {{ errors?.password_confirmation }}
    </div>

    <!-- Signup form -->
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" formControlName="first_name" />
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" formControlName="last_name" />
    </div>
    <div class="form-group">
      <label>Middle Name</label>
      <input type="text" class="form-control" formControlName="middle_name" />
    </div>
    <div class="form-group">
      <label>Birthdate</label>
      <input type="date" class="form-control" formControlName="birthdate" />
    </div>
    <div class="form-group">
      <label>Age</label>
      <input type="number" class="form-control" formControlName="age" />
    </div>
    <div class="form-group">
      <label>Postal Code</label>
      <input type="number" class="form-control" formControlName="postal_code" />
    </div>
    <div class="form-group">
      <label>Martial Status</label>
      <input type="text" class="form-control" formControlName="marital_status" />
    </div>
    <div class="form-group">
      <label>Email address</label>
      <input type="email" class="form-control" formControlName="email" />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password" />
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="password_confirmation"
      />
    </div>
    <button type="submit" class="btn btn-block btn-primary">
      Register User
    </button>
  </form>
</div>
